<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">Template for HTML email</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="${'Hello '+order.customer.firstName}">
    Hello Customer
</p>
<p>
    Order Number : <span th:text="${order.orderNumber}">Number</span><br/>
    Status: <span th:text="${order.status}">Status</span>
</p>
<p>
    Regards, <br />
    <em>The OCTOBE TRADE LLC. shopaholics.uz </em>
</p>
</body>
</html>