<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" xmlns:layout="http://www.w3.org/1999/xhtml">

    <head>
        <!--<meta charset="utf-8"/>-->
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <!--<meta name="viewport" content="width=device-width, initial-scale=1"/>-->
        <title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">Shopaholics.uz</title>

        <!-- Google Fonts -->
        <!--<link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,700,600' rel='stylesheet' type='text/css'/>-->
        <!--<link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300' rel='stylesheet' type='text/css'/>-->
        <!--<link href='https://fonts.googleapis.com/css?family=Raleway:400,100' rel='stylesheet' type='text/css'/>-->

        <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/assets/css/font-awesome.min.css}"/>
        <link rel="stylesheet" th:href="@{/assets/css/owl.carousel.css}"/>
        <link rel="stylesheet" th:href="@{/assets/style.css}"/>
        <link rel="stylesheet" th:href="@{/assets/css/responsive.css}"/>





        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="description" content=""/>
        <meta name="author" content=""/>
        <!--<title>Home | E-Shopper</title>-->
        <link th:href="@{/assets/eshopper/css/bootstrap.min.css}" rel="stylesheet"/>
        <link th:href="@{/assets/eshopper/css/font-awesome.min.css}" rel="stylesheet"/>
        <link th:href="@{/assets/eshopper/css/prettyPhoto.css}" rel="stylesheet"/>
        <link th:href="@{/assets/eshopper/css/price-range.css}" rel="stylesheet"/>
        <link th:href="@{/assets/eshopper/css/animate.css}" rel="stylesheet"/>
        <link th:href="@{/assets/eshopper/css/main.css}" rel="stylesheet"/>
        <link th:href="@{/assets/eshopper/css/responsive.css}" rel="stylesheet"/>

        <link rel="shortcut icon" th:href="@{/assets/eshopper/images/ico/favicon.ico}"/>
        <link rel="apple-touch-icon-precomposed" sizes="144x144"
              th:href="@{/assets/eshopper/images/ico/apple-touch-icon-144-precomposed.png}"/>
        <link rel="apple-touch-icon-precomposed" sizes="114x114"
              th:href="@{/assets/eshopper/images/ico/apple-touch-icon-114-precomposed.png}"/>
        <link rel="apple-touch-icon-precomposed" sizes="72x72"
              th:href="@{/assets/eshopper/images/ico/apple-touch-icon-72-precomposed.png}"/>
        <link rel="apple-touch-icon-precomposed"
              th:href="@{/assets/eshopper/images/ico/apple-touch-icon-57-precomposed.png}"/>


    </head>
    <body>
        <header id="header"><!--header-->
            <div class="header_top"><!--header_top-->
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="contactinfo">
                                <ul class="nav nav-pills">
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-phone"></i>
                                            +998 71 238 74 00
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-envelope"></i>
                                            info@shopaholics.com
                                        </a>
                                    </li>
                                    <li sec:authorize="${isAuthenticated()}">
                                        <i class="fa fa-user"></i>
                                        Welcome
                                        <span sec:authentication="principal.customer.firstName"/>
                                        <span sec:authentication="principal.customer.lastName"/>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="social-icons pull-right">
                                <ul class="nav navbar-nav">
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-dribbble"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/header_top-->

            <div class="header-middle"><!--header-middle-->
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="logo pull-left">
                                <a href="/home" th:href="@{/home}">
                                    <img th:src="@{/assets/eshopper/images/home/logo.png}" alt=""/>
                                </a>
                            </div>
                            <div class="btn-group pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default dropdown-toggle usa"
                                            data-toggle="dropdown">
                                        USA
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="#">Canada</a>
                                        </li>
                                        <li>
                                            <a href="#">UK</a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="btn-group">
                                    <button type="button" class="btn btn-default dropdown-toggle usa"
                                            data-toggle="dropdown">
                                        DOLLAR
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="#">Canadian Dollar</a>
                                        </li>
                                        <li>
                                            <a href="#">Pound</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="shop-menu pull-right">
                                <ul class="nav navbar-nav">
                                    <li sec:authorize="${isAuthenticated()}">
                                        <a href="#" th:href="@{/myAccount}">
                                            <i class="fa fa-user"></i>
                                            Account
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-star"></i>
                                            Wishlist
                                        </a>
                                    </li>
                                    <li>
                                        <a href="checkout.html" th:href="@{/checkout}">
                                            <i class="fa fa-crosshairs"></i>
                                            Checkout
                                        </a>
                                    </li>
                                    <li>
                                        <a href="cart.html" th:href="@{/cart}">
                                            <i class="fa fa-shopping-cart"></i>
                                            <span id="cart-item-count" class="product-count">(0)</span>
                                            Cart&nbsp;
                                        </a>
                                    </li>
                                    <li sec:authorize="${!isAuthenticated()}">
                                        <a href="login.html" th:href="@{/login}">
                                            <i class="fa fa-lock"></i>
                                            Login
                                        </a>
                                    </li>
                                    <li sec:authorize="${!isAuthenticated()}">
                                        <a href="#" th:href="@{/register}">
                                            <i class="fa fa-user"></i>
                                            Register
                                        </a>
                                    </li>
                                    <li sec:authorize="${isAuthenticated()}">
                                        <a href="#" th:href="@{/logout}">
                                            <i class="fa fa-user"></i>
                                            Logout
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/header-middle-->

            <div class="header-bottom"><!--header-bottom-->
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse"
                                        data-target=".navbar-collapse">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <div class="mainmenu pull-left">
                                <ul class="nav navbar-nav collapse navbar-collapse">
                                    <li>
                                        <a href="index.html" th:href="@{/home}" class="active">Home</a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#">Shop
                                            <i class="fa fa-angle-down"></i>
                                        </a>
                                        <ul role="menu" class="sub-menu">
                                            <li>
                                                <a href="shop.html" th:href="@{/products}">Products</a>
                                            </li>

                                            <li>
                                                <a href="checkout.html" th:href="@{/checkout}">Checkout</a>
                                            </li>
                                            <li>
                                                <a href="cart.html" th:href="@{/cart}">Cart</a>
                                            </li>
                                            <li>
                                                <a href="login.html" th:href="@{/login}">Login</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#">Blog
                                            <i class="fa fa-angle-down"></i>
                                        </a>
                                        <ul role="menu" class="sub-menu">
                                            <li>
                                                <a href="#">Blog List</a>
                                            </li>
                                            <li>
                                                <a href="#">Blog Single</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="404.html" th:href="@{/404}">404</a>
                                    </li>
                                    <li>
                                        <a href="#">Contact</a>
                                    </li>
                                </ul>

                            </div>
                        </div>
                        <div class="col-sm-4" style="text-align: right">
                                <form  action="#" th:action="@{/products}">
                                    <input  type="text" name="q" placeholder="Search products..."/>
                                    <input  type="submit" value="Search"/>
                                </form>
                        </div>
                    </div>
                </div>
            </div><!--/header-bottom-->
        </header><!--/header-->


        <div layout:fragment="content">
            <p>Main Content here....</p>
        </div>

        <footer id="footer"><!--Footer-->
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="companyinfo">
                                <h2><span>e</span>-shopper</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,sed do eiusmod tempor</p>
                            </div>
                        </div>
                        <div class="col-sm-7">
                            <div class="col-sm-3">
                                <div class="video-gallery text-center">
                                    <a href="#">
                                        <div class="iframe-img">
                                            <img th:src="@{assets/eshopper/images/home/iframe1.png}" alt="" />
                                        </div>
                                        <div class="overlay-icon">
                                            <i class="fa fa-play-circle-o"></i>
                                        </div>
                                    </a>
                                    <p>Circle of Hands</p>
                                    <h2>24 DEC 2018</h2>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="video-gallery text-center">
                                    <a href="#">
                                        <div class="iframe-img">
                                            <img th:src="@{assets/eshopper/images/home/iframe2.png}" alt="" />
                                        </div>
                                        <div class="overlay-icon">
                                            <i class="fa fa-play-circle-o"></i>
                                        </div>
                                    </a>
                                    <p>Circle of Hands</p>
                                    <h2>24 DEC 2018</h2>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="video-gallery text-center">
                                    <a href="#">
                                        <div class="iframe-img">
                                            <img th:src="@{assets/eshopper/images/home/iframe3.png}" alt="" />
                                        </div>
                                        <div class="overlay-icon">
                                            <i class="fa fa-play-circle-o"></i>
                                        </div>
                                    </a>
                                    <p>Circle of Hands</p>
                                    <h2>24 DEC 2018</h2>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="video-gallery text-center">
                                    <a href="#">
                                        <div class="iframe-img">
                                            <img th:src="@{assets/eshopper/images/home/iframe4.png}" alt="" />
                                        </div>
                                        <div class="overlay-icon">
                                            <i class="fa fa-play-circle-o"></i>
                                        </div>
                                    </a>
                                    <p>Circle of Hands</p>
                                    <h2>24 DEC 2018</h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="address">
                                <img th:src="@{assets/eshopper/images/home/map.png}" alt="" />
                                <p>505 S Atlantic Ave Virginia Beach, VA(Virginia)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer-widget">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="single-widget">
                                <h2>Service</h2>
                                <ul class="nav nav-pills nav-stacked">
                                    <li><a href="#">Online Help</a></li>
                                    <li><a href="#">Contact Us</a></li>
                                    <li><a href="#">Order Status</a></li>
                                    <li><a href="#">Change Location</a></li>
                                    <li><a href="#">FAQ’s</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="single-widget">
                                <h2>Quock Shop</h2>
                                <ul class="nav nav-pills nav-stacked">
                                    <li><a href="#">T-Shirt</a></li>
                                    <li><a href="#">Mens</a></li>
                                    <li><a href="#">Womens</a></li>
                                    <li><a href="#">Gift Cards</a></li>
                                    <li><a href="#">Shoes</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="single-widget">
                                <h2>Policies</h2>
                                <ul class="nav nav-pills nav-stacked">
                                    <li><a href="#">Terms of Use</a></li>
                                    <li><a href="#">Privecy Policy</a></li>
                                    <li><a href="#">Refund Policy</a></li>
                                    <li><a href="#">Billing System</a></li>
                                    <li><a href="#">Ticket System</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="single-widget">
                                <h2>About Shopper</h2>
                                <ul class="nav nav-pills nav-stacked">
                                    <li><a href="#">Company Information</a></li>
                                    <li><a href="#">Careers</a></li>
                                    <li><a href="#">Store Location</a></li>
                                    <li><a href="#">Affillate Program</a></li>
                                    <li><a href="#">Copyright</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-3 col-sm-offset-1">
                            <div class="single-widget">
                                <h2>About Shopper</h2>
                                <form action="#" class="searchform">
                                    <input type="text" placeholder="Your email address" />
                                    <button type="submit" class="btn btn-default"><i class="fa fa-arrow-circle-o-right"></i></button>
                                    <p>Get the most recent updates from <br />our site and be updated your self...</p>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <p class="pull-left">Copyright © 2019 E-SHOPPER Inc. All rights reserved.</p>
                        <p class="pull-right">Designed by <span><a target="_blank" href="http://www.themeum.com">Themeum</a></span></p>
                    </div>
                </div>
            </div>

        </footer><!--/Footer-->

        <script src="https://code.jquery.com/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script th:src="@{'/assets/js/owl.carousel.min.js'}"></script>
        <script th:src="@{'/assets/js/jquery.sticky.js'}"></script>
        <script th:src="@{'/assets/js/jquery.easing.1.3.min.js'}"></script>
        <script th:src="@{'/assets/js/main.js'}"></script>
        <script th:src="@{'/assets/js/app.js'}"></script>


        <script th:src="@{'assets/eshopper/js/jquery.js'}"></script>
        <script th:src="@{'assets/eshopper/js/bootstrap.min.js'}"></script>
        <script th:src="@{'assets/eshopper/js/jquery.scrollUp.min.js'}"></script>
        <script th:src="@{'assets/eshopper/js/price-range.js'}"></script>
        <script th:src="@{'assets/eshopper/js/jquery.prettyPhoto.js'}"></script>
        <script th:src="@{'assets/eshopper/js/main.js'}"></script>
        <script type="text/javascript">

            // $(document).ready(function(){
            //
            //     $("#btn_reload_captcha").on("click",function () {
            //
            //         $("#image_captcha").attr("src", "/captcha");
            //     });
            // });
            $(function () {
                $(".preloader").fadeOut();

                $("#btn_reload_captcha").on("click",function () {

                    $("#image_captcha").attr("src", "/captcha");
                });
            });
            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            });
            // ==============================================================
            // Login and Recover Password
            // ==============================================================
            $('#to-recover').on("click", function () {
                $("#login-form-wrap").slideUp();
                $("#recoverform").fadeIn();
            });
        </script>

    </body>
</html>