<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">Template for HTML email</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p>
    Hello,
</p>
<p>
    Please click the below link to reset your password.<br/>
    <a th:href="${resetPwdURL}">Reset Password</a>
</p>
<p>
    Regards, <br />
    <em>The OCTOBE TRADE LLC</em>
</p>
</body>
</html>