<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorator="layout/mainLayout">
<head>
    <title>My Account</title>
</head>
<body>
<div layout:fragment="content">
    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div role="tabpanel">
                <ul class="customer-tab" role="tablist">
                    <li role="presentation" class="active"><a href="#profile"
                                                              aria-controls="profile" role="tab" data-toggle="tab">Customer
                        Info</a></li>
                    <li role="presentation"><a href="#orders"
                                               aria-controls="orders" role="tab" data-toggle="tab">Orders</a></li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="profile">
                        <h2>Customer Info</h2>
                        <form role="form" action="#" th:object="${customer}"
                              method="post">
                            <div class="form-group">
                                <label>FirstName</label> <input type="text"
                                                                class="form-control" th:field="*{firstName}"
                                                                readonly="readonly" />
                            </div>
                            <div class="form-group">
                                <label>LastName</label> <input type="text" class="form-control"
                                                               th:field="*{lastName}" readonly="readonly" />
                            </div>
                            <div class="form-group">
                                <label>Email</label> <input type="email" class="form-control"
                                                            th:field="*{email}" readonly="readonly" />
                            </div>
                            <div class="form-group">
                                <label>Phone</label> <input type="text" class="form-control"
                                                            th:field="*{phone}" readonly="readonly" />
                            </div>
                        </form>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="orders">
                        <h2>Orders</h2>
                        <table cellspacing="0" class="shop_table cart">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Order Number</th>
                                <th>Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="order,iterStat : ${orders}">
                                <td><span th:text="${iterStat.count}">1</span></td>
                                <td><a href="#" th:text="${order.orderNumber}"
                                       th:href="@{/orders/{orderNumber}(orderNumber=${order.orderNumber})}">OrderNumber</a>
                                </td>
                                <td><span th:text="${order.status}">Status</span></td>

                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>