<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorator="layout/mainLayout">
<head>
    <title>Order Confirmation</title>
</head>
<body>
<div layout:fragment="content">
    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">

                <div class="woocommerce-info col-md-offset-2 col-md-8">
                    <div th:unless="${order}" >
                        <h2>No order found</h2>
                    </div>
                    <div th:if="${order}" >
                        <h2>Your order has been placed successfully.</h2>
                        <h2>
                            Order Number : <span th:text="${order.orderNumber}">Number</span>
                        </h2>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Quantity</th>
                                <th>Cost</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="item : ${order.items}">
                                <td th:text="${item.product.name}">product.name</td>
                                <td th:text="${item.quantity}"></td>
                                <td th:text="${item.price * item.quantity}">price</td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr class="cart-subtotal">
                                <th>Order Subtotal</th>
                                <td><span class="amount" th:text="${order.totalAmount}">£15.00</span>
                                </td>
                            </tr>

                            <tr class="shipping">
                                <th>Shipping and Handling</th>
                                <td>Free Shipping</td>
                            </tr>

                            <tr class="order-total">
                                <th>Order Total</th>
                                <td><strong><span class="amount" th:text="${order.totalAmount}">£15.00</span></strong> </td>
                            </tr>

                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>