<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorator="layout/mainLayout">

<head>
    <title>Register</title>
</head>
<body>

<div class="preloader">
    <div class="loader">
        <div class="loader__figure"></div>
        <p class="loader__label">Admin Wrap</p>
    </div>
</div>

<div layout:fragment="content">
    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">

            <div class="row">

                <div class="col-md-offset-3 col-md-6">
                    <form id="login-form-wrap"  th:action="@{/register}" th:object="${customer}" method="post">

                        <h5 th:text="${message}" class="text-danger"></h5>
                        <p class="form-row form-row-first">
                            <label for="firstName">FirstName <span class="required">*</span>
                            </label>
                            <input type="text" th:field="*{firstName}" class="input-text"/>
                        <p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"
                           th:errorclass="text-danger">Incorrect data</p>
                        </p>

                        <p class="form-row form-row-first">
                            <label for="lastName">LastName <span class="required">*</span>
                            </label>
                            <input type="text" th:field="*{lastName}" class="input-text"/>
                        <p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" th:errorclass="text-danger">
                            Incorrect data</p>

                        </p>

                        <p class="form-row form-row-first">
                            <label for="email">Email <span class="required">*</span>
                            </label>
                            <input type="email" th:field="*{email}" class="input-text" placeholder="Email"/>
                        <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" th:errorclass="text-danger">
                            Incorrect data</p>
                        </p>
                        <p class="form-row form-row-last">
                            <label for="password">Password <span class="required">*</span>
                            </label>
                            <input type="password" th:field="*{password}" class="input-text" placeholder="Password"/>
                        <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" th:errorclass="text-danger">
                            Incorrect data</p>
                        </p>

                        <p class="form-row form-row-first">
                            <label for="phone">Phone <span class="required">*</span>
                            </label>
                            <input type="text" th:field="*{phone}" class="input-text"/>
                        <p th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" th:errorclass="text-danger">
                            Incorrect data</p>
                        </p>

                        <p class="form-row form-row-first">

                            <img src="/captcha" id="image_captcha"/>
                            <button type="button" class="btn btn-success btn-sm" id="btn_reload_captcha"><i
                                    class="fa fa-refresh"></i></button>

                        </p>


                        <p class="form-row form-row-first">

                            <input class="form-control" type="text" required="" placeholder="Code"
                                   name="captcha"/>

                        </p>


                        <p class="form-row form-row-first">

                            <div class="checkbox checkbox-success p-t-0">
                                <input id="checkbox-signup" type="checkbox" class="filled-in chk-col-light-blue"/>
                                <label for="checkbox-signup"> I agree to all <a
                                        href="javascript:void(0)">Terms</a></label>
                            </div>

                        </p>

                        <div class="clear"></div>


                        <p class="form-row">
                            <input type="submit" value="Login" class="button"/>
                        </p>

                        <p>
                            <div th:if="${info!=null}" class="alert alert-warning alert-dismissable">
                        <p><i class="icon fa fa-warning"></i> <span th:text="${info}"></span></p>
                </div>
                </p>
                <p class="lost_password">
                    Existing Customer? <a href="#" th:href="@{/login}" th:text="#{label.login}">Login</a>
                </p>

                <div class="clear"></div>
                </form>

            </div>
        </div>

    </div>
</div>
</div>

<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<script th:src="@{'assets/eshopper/jquery.min.js'}"></script>
<script th:src="@{'assets/eshopper/bootstrap.min.js'}"></script>
<script th:src="@{'assets/eshopper/popper.min.js'}"></script>




</body>

</html>